/**
 *     Listrak Flat File Instalation Wizard 
 *     
 *     @category   Listrak
 *     @package    Listrak Development Services Flat File Wizard
 *     @author     Listrak Development Services <lds@listrak.com>
 *     @version    1.0.0
 */


h1, h2, h3, h4, h5, p { margin:0; padding:0; }

/* Navigation & Wrapper */
#ltk-content { width: 1000px; margin: 0 auto; }
#ltk-content>div { float: left; }
#ltk-menu-content { width: 200px; padding: 40px 0;}
#ltk-menu-content .ltk-menu-items { list-style: none; margin: 5px 0 0 0; padding: 0 30px 0 20px; }
#ltk-menu-content .ltk-menu-item { margin: 0 0 15px 0; padding: 11.5px 13px; border: 1px solid #26B6DF; }
#ltk-menu-content .ltk-menu-item a { font-weight: bold; font-size: 15px; }
#ltk-menu-content .ltk-active-item { background: #23b7e1; border-right: 0px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
#ltk-menu-content .ltk-active-item::after { content: ''; display: block; float: left; margin: -31px 0 0 136px; border: 1.5em solid #c23a3a; }
#ltk-menu-content .ltk-active-item::after { border-color: transparent; border-left-color: #23b7e1; }
#ltk-menu-content .ltk-active-item a { color: #FFF; }
#ltk-menu-content .ltk-active-item a:hover { color: #CCC; }
#ltk-wrapper { width: 750px; margin: 0 auto; padding: 40px 0; }

/* Header */
.ltk-header h1 { margin-bottom: 15px; }

/* Body */
.ltk-body p { margin-bottom: 15px; }

/* Buttons */
.ltk-buttons input, .ltk-buttons a { background:#23B7E1; color:#FFF; font-weight: bold; font-style: normal; font-size:15px; padding:8px 15px; margin: 10px 25px 0 0; border:none; cursor:pointer; box-shadow: 0px 2px 3px rgba(0,0,0,.25); }
.ltk-buttons input:hover, .ltk-buttons a:hover { opacity:.8; }
.ltk-buttons input:focus { outline: none; }
.ltk-btn-right { float: right;  margin-right: 50px !important; }
