/**
 *     Listrak Flat File Instalation Wizard 
 *     
 *     @category   Listrak
 *     @package    Listrak Development Services Flat File Wizard
 *     @author     Listrak Development Services <lds@listrak.com>
 *     @version    1.0.0
 */


h1, h2, h3, h4, h5, p { margin:0; padding:0; }

/* Navigation & Wrapper */
#ltk-content { width: 1000px; margin: 0 auto; }
#ltk-content>div { float: left; }
#ltk-nav-content { width: 200px; padding: 40px 0;}
#ltk-nav-content .ltk-nav-items { list-style: none; margin: 43px 0 0 0; padding: 0 30px 0 20px; }
#ltk-nav-content .ltk-nav-item { margin: 0 0 15px 0; padding: 11.5px 13px; border: 1px solid #26B6DF; }
#ltk-nav-content .ltk-nav-item a { font-weight: bold; font-size: 15px; }
#ltk-nav-content .ltk-active-item { background: #23b7e1; border-right: 0px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
#ltk-nav-content .ltk-active-item::after { content: ''; display: block; float: left; margin: -31px 0 0 136px; border: 1.5em solid #c23a3a; }
#ltk-nav-content .ltk-active-item::after { border-color: transparent; border-left-color: #23b7e1; }
#ltk-nav-content .ltk-active-item a { color: #FFF; }
#ltk-nav-content .ltk-active-item a:hover { color: #CCC; }
#ltk-wrapper { width: 750px; margin: 0 auto; padding: 40px 0; }

/* Header */
.ltk-header h1 { margin-bottom: 15px; }

/* Left Menu */
#ltk-left-content { border: 1px solid #CCC; width: 200px; height: 350px; display: table-cell; position: relative; }

/* Menu & Menu Items */
.ltk-menu-list { list-style: none; margin: 0; padding: 0; }
.ltk-menu-list-item { padding: 10px; font-weight: bold; font-size: 15px; color: #555; }
.ltk-menu-list .selected { background-color: #23b7e1; }
.ltk-menu-list .selected a { color: #FFF; }
.ltk-menu-list .selected a:hover { color: #CCC; }

/* Menu Buttons */
.ltk-menu-buttons { list-style: none; margin: 0; padding: 0 0 15px 16px; position: absolute; bottom: 0; }
.ltk-menu-button { float: left; }
.ltk-menu-button:first-child { margin-right: 15px; padding-right: 15px; border-right: 1px solid #CCC; }
.ltk-menu-btn { margin: 0 !important; }
.ltk-del-button { background: #DD1515 !important; display: none;}

/* Body */
.ltk-body p { margin-bottom: 15px; }
#ltk-right-content { /*border: 1px solid #ccc;*/ width: 550px; padding: 0 0 0 30px; display: table-cell; }
#ltk-right-content form label { width: 100%; display: block; }
#ltk-right-content form input[type=text] { padding: 10px; width: 70%; border: 1px solid #989898; border-left: 5px solid #989898; background: #f1f1f1; margin-bottom: 20px; }
#ltk-right-content form select { border: 1px solid #989898; border-left: 5px solid #989898; background: #f1f1f1; width: 70%; padding: 9px 10px; margin: 0 0 20px 0; }
#ltk-right-content .ltk-save-msg { color: #2EB62E; margin-left: 5px; display: none; }

/* Buttons */
.ltk-buttons { margin: 30px 30px 0 0;}
.ltk-buttons input, .ltk-buttons a, .ltk-btn, .ltk-menu-btn { background:#23B7E1; color:#FFF; font-weight: bold; font-style: normal; font-size:15px; padding:8px 15px; margin: 10px 0 0 0; border:none; cursor:pointer; box-shadow: 0px 2px 3px rgba(0,0,0,.25); }
.ltk-buttons input:hover, .ltk-buttons a:hover { opacity:.8; }
.ltk-buttons input:focus { outline: none; }
.ltk-btn-right { float: right;  margin-right: 50px !important; }

