/**
 *     Listrak Flat File Instalation Wizard 
 *     
 *     @category   Listrak
 *     @package    Listrak Development Services Flat File Wizard
 *     @author     Listrak Development Services <lds@listrak.com>
 *     @version    1.0.0
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Segoe UI",'Trebuchet MS',Verdana,Helvetica,Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
}

header,footer,nav,section {
    display: block;
}

footer {
}

header {
}

header>div {
    margin: auto;
    width: 980px;
}

footer {
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #4eaaed;
}

button a,button a:hover {
    color: #fff;
}

#interior-container {
    padding: 159px 0 0 0;
    overflow: hidden;
}

#nav-wrap {
    top: 0;
    left: 0;
    width: 100%;
}

#top-nav {
    background: #000;
}

#top-nav-inner {
    width: 980px;
    margin: 0 auto;
}

#top-nav-inner ul {
    overflow: auto;
    float: right;
    margin: 0;
    padding: 0;
}

#top-nav-inner ul li {
    float: left;
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    display: block;
}

#top-nav-inner ul li a {
    display: block;
    text-decoration: none;
    color: #a2a2a2;
    padding: 18px 15px;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    -ms-transition: all .3s ease 0;
    transition: all .3s ease 0;
}

#top-nav-inner ul li a:hover {
    color: #23b7e1;
}

#main-nav {
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#main-nav-inner {
    width: 980px;
    height: 70px;
    margin: 0 auto 37px auto;
    -webkit-transition: height .2s ease 0;
    -moz-transition: height .2s ease 0;
    transition: height .2s ease 0;
}

.logo-holder {
    float: left;
    margin: 35px 0 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#footer-wrap .footer-module,#signup-form,#footerEmail {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}

#footer-wrap {
    background: #181818 url(/images/bgd-2px-colors.jpg) bottom center no-repeat;
}

#footer-inner {
    width: 980px;
    margin: 0 auto;
}

#footer-inner .footer-module {
    width: 306px;
    margin: 60px 0 65px 0;
    padding: 0 10px;
    float: left;
    text-align: center;
}

#footer-inner .footer-module h4 {
    font-family: 'Gotham A','Gotham B',Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 23px;
    margin: 0 0 30px 0;
}

#footer-inner .footer-module p {
    font-family: Arial,Helvetica,"Gill Sans MT";
    font-size: 13px;
    line-height: 17px;
    color: #bbb;
}

#footer-inner .footer-module p a {
    color: #bbb;
}

#footer-inner .footer-module #signup-form {
    background: #212121;
    width: 255px;
    margin: 25px auto 20px auto;
}

#footer-inner .footer-module #signup-form .signup-field {
    background: none;
    border: none;
    outline: none;
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #23b7e1;
    width: 170px;
    float: left;
    padding: 10px 15px 10px 25px;
    margin: 0;
}

.bottom-footer {
    background: #2b2b2b;
    border-bottom: 1px solid #413d3e;
}

.bottom-footer-inner {
    width: 965px;
    margin: 0 auto;
    padding: 0 0 0 15px;
}

.bottom-footer-inner img {
    margin: 22px 0 0 0;
}

.bottom-footer-inner p {
    float: left;
    font-family: Arial,Helvetica,"Gill Sans MT";
    font-size: 13px;
    line-height: 17px;
    color: #4f4b4c;
    margin: 10px 0;
}

.bottom-footer-inner ul {
    overflow: auto;
    float: right;
}

.bottom-footer-inner ul li {
    float: left;
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.bottom-footer-inner ul li a {
    display: block;
    text-decoration: none;
    color: #868686;
    text-transform: uppercase;
    padding: 30px 15px;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    -ms-transition: all .3s ease 0;
    transition: all .3s ease 0;
}

.bottom-footer-inner ul li a:hover {
    color: #42d1f5;
}

.bottom-footer-inner .legal-links a {
    font-family: Arial,Helvetica,"Gill Sans MT";
    font-size: 13px;
    line-height: 17px;
    color: #4f4b4c;
    text-transform: none;
    padding: 20px 15px;
}

.interior-content .form td {
    vertical-align: top;
}

.interior-content .form label {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 300;
    font-style: normal;
    color: #000;
    font-size: 15px;
}

.interior-content .form .checkbox-wrap {
    padding: 10px 0 25px 10px;
}

.interior-content .form .checkbox-wrap label {
    color: #5e5e5e;
    font-family: Arial,Helvetica,"Gill Sans MT";
    font-size: 15px;
}

.interior-content .form input[type=text],.interior-content .form input[type=password] {
    border: 1px solid #989898;
    background: #f1f1f1;
    width: 100%;
    padding: 10px;
    margin: 5px 0 0 0;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
}

.interior-content .form select {
    border: 1px solid #989898;
    background: #f1f1f1;
    width: 91%;
    padding: 9px 10px;
    margin: 5px 0 25px 0;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
}

.interior-content .form select:focus,.interior-content .form input[type=text]:focus,.interior-content .form input[type=password]:focus {
    border: 1px solid #000;
    background: #fff;
    outline: none;
}

.interior-content .form textarea {
    border: 1px solid #989898;
    background: #f1f1f1;
    width: 100%;
    height: 110px;
    padding: 10px;
    margin: 5px 0 20px 0;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
    font-family: Arial,Helvetica,"Gill Sans MT";
}

.interior-content .form textarea:focus {
    border: 1px solid #000;
    background: #fff;
    outline: none;
}

.interior-content .form input[type=submit] {
    background: #23b7e1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 300;
    font-style: normal;
    padding: 8px 35px;
    margin: 15px 0 25px 0;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.interior-content .form input[type=submit]:hover {
    opacity: .7;
}

.dark-band .interior-content .form label {
    color: #fff;
}

.dark-band .interior-content .form input[type=text],.grey-band .interior-content .form input[type=text] {
    border: 1px solid #989898;
    background: #fff;
}

.grey-band .interior-content .form input[type=text]:focus,.interior-content .form input[type=password]:focus {
    border: 1px solid #000;
}

.interior-content {
    width: 980px;
    color: #5e5e5e;
    font-family: Arial,Helvetica,"Gill Sans MT";
    font-size: 15px;
    line-height: 23px;
    margin: 0 auto;
    padding: 0 0 60px 0;
}

.interior-content.reduce-margin {
    padding: 60px 0 10px 0;
}

.interior-content h2 {
    font-family: 'Chronicle Display A','Chronicle Display B';
    font-weight: 300;
    font-style: normal;
    color: #000;
    font-size: 40px;
    margin: 90px 0 10px 0;
    line-height: 42px;
}

.interior-content h2#success {
    margin-top: -180px;
    padding-top: 180px;
}

.interior-content h3 {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    font-size: 27px;
    margin: 0 0 20px 0;
    padding: 10px 0 0 0;
    line-height: 30px;
    letter-spacing: -1px;
}

.interior-content h4 {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    color: #000;
}

.interior-content h5 {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    margin: 0 0 10px 0;
    padding: 3px 0 0 0;
    color: #000;
}

.interior-content h2.add-margin,.interior-content h3.add-margin,.interior-content h4.add-margin,.interior-content h5.add-margin {
    margin-bottom: 30px;
}

.interior-content h2.reduce-margin,.interior-content h3.reduce-margin,.interior-content h4.reduce-margin,.interior-content h5.reduce-margin {
    margin: 0 0 10px 0;
}

.interior-content h2 a,.interior-content h3 a,.interior-content h4 a,.interior-content h5 a {
    text-decoration: none;
}

.interior-content p {
    margin: 0 0 20px 0;
}

.interior-content a {
    color: #000;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
    background: none;
}

.interior-content a:hover {
    text-decoration: none;
    color: #23b7e1;
}

.interior-content a.button {
    background: #23b7e1;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 400;
    font-style: normal;
    padding: 8px 12px;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
}

.interior-content a.button:hover {
    opacity: .7;
    color: #fff;
}

.interior-content a.cta-button {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #23b7e1;
    text-decoration: none;
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    transition: all .2s ease 0;
    padding: 0 25px 0 0;
    background: url(/images/bgd-download-arrow.png) 100% center no-repeat;
}

.interior-content a.cta-button:hover {
    color: #3a3a3a;
    background: url(/images/bgd-cta-arrow-grey.png) 100% center no-repeat;
    padding: 0 35px 0 0;
}

.interior-content p.quote {
    font-family: 'Chronicle Display A','Chronicle Display B';
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    color: #000;
    text-align: center;
}

.interior-content p.quote-credit {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #7d7d7d;
    text-align: center;
}

.interior-content p.source {
    font-family: 'Gotham SSm A','Gotham SSm B',Arial;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    color: #7d7d7d;
    text-align: center;
    margin: 60px 0 0 0;
}

.interior-content span.success-highlight {
    font-weight: bold;
    color: #23b7e1;
}

.interior-content p a#lnkNext {
    float: right;
}

.interior-content p a#lnkPrev {
    float: left;
}

.interior-content ul {
    margin: 0 0 15px 30px;
}

.interior-content ul li {
    list-style-type: disc;
    margin: 0 0 5px 0;
}

.interior-content .list-column {
    float: left;
    margin: 0 50px 15px 30px;
}

.interior-content .two-column {
    float: left;
    width: 450px;
    padding: 0 40px 0 0;
    margin: 20px 0 0 0;
}

.interior-content .three-column {
    float: left;
    width: 306px;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}

.interior-content .four-column {
    float: left;
    width: 225px;
    padding: 0 20px 0 0;
    margin: 20px 0 0 0;
}

.interior-content .success {
    border: 2px solid #1db006;
    padding: 40px 40px 20px 40px;
}

h2 {
    margin: 10px 0;
    font-size: 1.5em;
    -webkit-margin-before: .83em;
    -webkit-margin-after: .83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: .5em 0 0 0;
}

img {
    border: none;
}

input[type=text].input-validation-error {
}

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red!important;
    background-color: #fee!important;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}

.pending-mode,.delete-mode,.submit-error,.submit-ok {
    margin: 0 0 5px 0;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.pending-mode {
    background: #fafad2 url(../Images/icon_issues.png) 10px center no-repeat;
}

.delete-mode {
    background: #ffb6c1 url(../Images/icon_disruption.png) 10px center no-repeat;
}

.submit-error {
    background: #ffb6c1 url(../../Images/icon_disruption.png) 10px center no-repeat;
}

.submit-ok {
    background: #daebd5 url(../../Images/icon_available.png) 10px center no-repeat;
}

.signin span {
    display: inline-block;
    padding: 10px;
}

.signin-label {
    width: 20%;
}

.signin-textbox {
    width: 35%;
}

.col-full,.col-three,.col-two {
    float: left;
}

.col-full {
    width: 100%;
    padding: 10px 0;
}

.col-three {
    width: 34%;
    padding: 10px;
}

.col-two {
    width: 50%;
    padding: 10px;
}

.col-two span {
    width: 50%;
    display: inline-block;
}

.form-row {
    width: 100%;
    clear: both;
}

.form-row div:first-child {
    padding-left: 0;
}

.form-row div:last-child {
    padding-right: 0;
}

.form-row div.col-three:first-child {
    width: 33%;
}

.form-row div.col-three:last-child {
    width: 33%;
}

.message-wrap {
    padding-bottom: 10px;
    width: 980px;
    margin: 0 auto;
}