<?xml version="1.0"?>

<!--   
/**
 *     Listrak Flat File Instalation Wizard 
 *     
 *     @category   Listrak
 *     @package    Listrak Development Services Flat File Wizard
 *     @author     Listrak Development Services <lds@listrak.com>
 *     @version    1.0.0
 */
 -->
 
 <settings>
    <database>
        <table id="sales_flat_order">
            <file>orders</file>
            <select>*</select>
            <key>entity_id</key>
        </table>
        <table id="sales_flat_order_item">
            <file>orderitems</file>
            <select>*</select>
            <key>item_id</key>
        </table>
        <table id="core_flag">
            <file>products</file>
            <select>flag_id,flag_code</select>
            <key>flag_id</key>
        </table>
    </database>
    <ftp>
        <host>ftp.ghostsector.com</host>
        <username>listrak</username>
        <password>listrak</password>
    </ftp>
 </settings>
